{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}TexnoShop{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'products' %}">Products</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				{% if user.is_authenticated %}
				<li>
					<a href="{% url 'create' %}">Create</a>
				</li>
				<li>
					<h1>{{ user.username }}</h1>
				</li>
				<li>
					<a href="{% url 'logout' %}">Logout</a>
				</li>
				{% else %}
				<li>
					<a href="{% url 'login' %}">Login</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</header>
	
{% block content %}

{% endblock %}
	
</body>
</html>




